<% var title = 'アバウトページ'; %><% var description =
'アバウトページのディスクリプション'; %><% var path = '..'; %><% include
../common/_header %>

<!-- main -->
<main class="main">
  <div class="inner"></div>
</main>
<!-- main end -->

<% include ../common/_footer %>
