<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <!--style css-->
  <link rel="stylesheet" href="<%= path %>/css/style.css" />
  <!--font-awesome-->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
  <!--jquery-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <!--object-fit-images-->
  <script src="<%= path %>/js/ofi.min.js"></script>
</head>

<body>
<!-- header -->
<header class="header">
  <div class="inner"></div>
</header>
<!-- header end -->