<% var title = 'トップページのタイトルタグ'; %><% var description =
'トップページのディスクリプション'; %><% var path = '.'; %><% include
common/_header %>

<!-- main -->
<main class="main">
  <div class="inner"></div>
</main>
<!-- main end -->

<% include common/_footer %>
